@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p {
	margin: 0 0 20px 0;	
	font-size: 22px;
	font-weight:200;
	font-style:normal;
}

h2 {
	font-size-adjust:0.531;
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

.story {
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.text {
	margin: 0 auto;
	margin-top: 235px;
	width: 450px;
	text-align: center;
	font-size: 24px;
	line-height: 150%;
	font-family: "brandon-grotesque", Verdana;
	color: #ffffff;
}

#nav {
	margin-top: 200px;
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li {
	margin: 0 0 10px 0;	
}

#intro {
	background-color: #FCE8B1;
	color: white;
	height: 600px;
	margin: 0 auto;
	margin-top: -20px;
	padding: 0;
}

#ball {
	width: 40px;
	margin-top: -75px;
	margin-left: 130px;
	position: absolute;
/*	
	-webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, -20px);}
    65% {-webkit-transform:translate(0, 20px);}
    to {-webkit-transform: translate(0, -20px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, -20px);}
    65% {-moz-transform:translate(0, 20px);}
    to {-moz-transform: translate(0, -20px);}    
} */
}

#intro_logo {
	margin-top: -55px;
	width: 300px;
}

#second {
	background: url(img/second2.jpg) 50% 0 no-repeat fixed;
	background-color: #B0DEED;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#third {
	background: url(img/third1.jpg) 50% 0 no-repeat fixed;
	background-color: #253F6F;
	height: 650px;
	padding: 100px 0 0 0;	
}

#third .text {
	margin-top: 45px;
}

#third_cups {
	width: 250px;
	margin-top: 25px;
}

#fourth {
	background-color: #FC6B6B;
	height: 650px;
	padding: 100px 0 0 0;	
}

#fourth .text {
	margin-top: 50px;
	width: 675px;
}

#fifth {
	background-color: #253F6F;
	height: 650px;
	padding: 100px 0 0 0;	
}

#fifth h2 {
	margin-top: -195px;
}

#fifth .text {
	width: 900px;
}

#cup_container {
	width: 725px;
	margin: 80px auto 0 auto;
}

#fifth_cup {
	width: 175px;
}

.flipcup {
	width: 200px;
	height: 200px;
	float: left;
	padding: 0 20px 0 20px;

    -webkit-transition-duration: 0.65s;
    -moz-transition-duration: 0.65s;
    -o-transition-duration: 0.65s;
    transition-duration: 0.65s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
}  
 
.flipcup:hover {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

#details_container {
	width: 800px;
	margin: 100px auto 0 auto;
	padding-left: 67px;
	text-align: center;
}

.details_third {
	float: left;
	width: 30%;
	padding-top: 15px;
}

#sixth {
	background-color: #B0DEED;
	height: 650px;
	padding: 100px 0 0 0;	
}

#sixth .text {
	margin-top: 0px;
}
