<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Maddie Simens</title>
  <link href="stylesheets/application.css" rel="stylesheet" />
</head>
<body>
	<div class="navbar">
		<%= image_tag "logo_bookmark.png", :class => "logo" %>